@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card-name{
  display: grid;
  grid-template-columns: 4rem 1fr;
  place-items: center;
}

.main-card:first-of-type{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#updateProfile::-webkit-scrollbar,
#main-profile::-webkit-scrollbar,
#profile-cards::-webkit-scrollbar,
#quil-content::-webkit-scrollbar{
  display: none;
}


.open-quil{
  top: -2.5rem;
  left: -1rem; 
}
.open-image{
  top: -0.75rem;
  left: -3rem; 
}
.open-video{
  top: 2rem;
  left: -3rem; 
}
.open-mic{
  top: 3.5rem;
  left: -1rem; 
}

.dialog-bg{
  background-color: rgba(0, 0, 0, 0.685);
}

#dropdown{
  background-color: rgba(0, 0, 0, 0.897);
}

@media (min-width: 1280px){
  #main-homepage{
    display: grid;
    grid-template-columns: 20% 50% 20%;
    margin-top: 1rem;
    justify-content: center;
  }
  #quil-content::after{
    display: none;
  }
}